body {
    height: 100%;
    background-color: black !important;
}

h1 {
    font-weight: 500 !important;
    font-size: 75px !important;
    font-weight: 600 !important;
    background: -webkit-repeating-linear-gradient(#EDFC6A, #96E6A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 50px !important;
    font-weight: 550 !important;
    color: #33856c;
    background: -webkit-repeating-linear-gradient(#20E2D7, #F9FEA5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {    
    font-size: 22px !important;
    color: rgb(223, 223, 223);
}

h3 {
    background: -webkit-repeating-linear-gradient(#f0fff5, #38f9d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
    font-weight: 550 !important;
}

.home-jumbotron {
    background-color: transparent !important;
    padding-top: 100px;
    padding-bottom: 100px;
}

.lead {
    font-size: 30px !important;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

hr {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background: -webkit-repeating-linear-gradient(#b3ffab, #12fff7);
}

.link {
    background: -webkit-repeating-linear-gradient(#96fbc4, #86f98f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none !important;
}

img {
    max-width: 100%; 
    max-height:100%
}

.figure-caption {
    color: rgb(200, 200, 200) !important;
}

.stat {
    font-size: 80px !important;
    font-weight: 600 !important;
    color: #33856c;
    background: -webkit-repeating-linear-gradient(#fbc2eb, #a6c1ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stat-name {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
    font-weight: 550 !important;
}

.accordion-header {
    color: black !important;
    -webkit-text-fill-color: black !important;
}

.accordion-body {
    color: black !important;
    -webkit-text-fill-color: black !important;
    padding: 10px !important;
}

.accordion-body {
    background-color: black !important;
}

.accordion-button {
    background-color: black !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.accordion-item {
    border-radius: 0px !important;
    border: 0px solid transparent !important;
}

.accordion-padding {
    padding-top: 15px !important;
}

.collapsing {
    transition: none !important;
}

.accordion-button {
    background-color: rgb(9, 9, 9) !important;
}

.accordion-body {
    background-color: rgb(18, 18, 18) !important;
}


.accordion-command-name {
    color: white !important;
    -webkit-text-fill-color: white !important;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
}

.command-name-strong {
    font-weight: 550 !important;
    font-size: 25px !important;
}

.accordion-command-description {
    color: grey !important;
    -webkit-text-fill-color: rgb(180, 180, 180) !important;
    font-weight: 500;
    font-size: 17px;
}

.accordion-aliases-content {
    color: grey;
    -webkit-text-fill-color: rgb(180, 180, 180) !important;
    font-weight: 500;
    font-size: 17.6px;
    padding-bottom: 10px;
    padding-bottom: 10px !important;
}

.aliases-strong {
    color: white !important;
    -webkit-text-fill-color: rgb(202, 202, 202) !important;
    font-weight: 550 !important;
    font-size: 20px !important;
}

.accordion-examples-content {
    color: grey;
    -webkit-text-fill-color: rgb(180, 180, 180) !important;
    font-weight: 500;
    font-size: 17.6px;
    padding-bottom: 10px !important;
}

.aliases-examples {
    color: white !important;
    -webkit-text-fill-color: rgb(202, 202, 202) !important;
    font-weight: 550 !important;
    font-size: 20px !important;
}
