.background-gradient {
    height: 125vh;
    width: 100%;
    background-image: linear-gradient(360deg, rgb(51, 17, 88), rgb(18, 16, 78));
}

.btn-md {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 6px;
}

.btn-m {
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 7px;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Thin.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
}

.btn-purple {
    font-weight: 700;
    background-color: rgb(71, 66, 194);
    color: white;
    border-color: rgb(71, 66, 194);
}

.btn-outline-light {
    font-weight: 700;

    color: white;
    border-color: #5BC5F9;
}

.btn-outline-light:hover { 
    font-weight: 700;

    background-color: #5BC5F9;
    color: white;
    border-color: #5BC5F9;
}

.btn-purple:hover { 
    border-color: rgb(60, 56, 165); 
    background-color: rgb(60, 56, 165); 
    color: white;
}

body {
    color: white;
}

.container {
    padding-top: 200px;
} 

.home-image {
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 65px;
    font-weight: 600;
    font-family: 'roboto-bold';
}

p {
    font-size: 25px;
    font-weight: 600 !important;
    font-family: 'roboto';
}